@charset "UTF-8";

:root {
	--area4-flow-width: 50px;
}
#div_area4_flow {
	position:absolute;
	width: var(--area4-flow-width);
	height: 532px;
	top: 468px;
	left: 892px;
}

.div_area4_flow {
	width: var(--area4-flow-width);
	height: 50px;
	margin-bottom: 19px;
}