@charset "UTF-8";

:root {
	--area1-0-flow-width: 430px;
}

#div_culture_menu {
	position:absolute;
	width: 410px;
	height: 720px;
	top: 340px;
	left: 530px;
}

.div_culture_menu {
	width: 410px;
	height: 156px;
	
	margin-bottom: 24px;
}

#div_craft_detail {
	position:absolute;
	top: 40px;
	left: 40px;
	
	width: 900px;
	height: 890px;
}