@charset "UTF-8";

:root {
	--area1-width: 385px;
	--area1-height: 405px;
}

#div_area1_0 {
	position:absolute;
	width: var(--area1-width);
	height: var(--area1-height);
	top: 170px;
	left: 80px;
}

#div_area1_1 {
	position:absolute;
	width: var(--area1-width);
	height: var(--area1-height);
	top: 170px;
	left: 520px;
}

#div_area1_2 {
	position:absolute;
	width: var(--area1-width);
	height: var(--area1-height);
	top: 620px;
	left: 520px;
}

#div_area1_3 {
	position:absolute;
	width: var(--area1-width);
	height: var(--area1-height);
	top: 620px;
	left: 80px;
}
