@charset "UTF-8";

:root {
	--event-width: 840px;
}

#div_event {
	position:absolute;
	width: var(--event-width);
	height: var(--contents-height);
	top: 160px;
	left: 80px;
}

#div_event_item {
	width: var(--event-width);
	height: 260px;
}
